<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to Delete an item page!</h1>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <form method="POST">
            <h2>Are you sure you want to delete "{{object.name}}"?</h2>
        <button type="submit" class="btn btn-danger" role="button" aria-pressed="true" a href="{% url 'items' %}">Delete</button>
        <button onclick="location.href='{% url "detail" object.id %}'" type="button">Cancel</button>
    </form>
</div>
</body>
</html>