{% extends './base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h4>Order Name - {{ order.name }}</h4>

<div>
    Description - {{order.description}}
    <br>
    Price - {{order.price}}
    <br> quantity - {{ order.quantity }}<br>
    date updated - {{ order.date_updated }}<br>
    tag - {{ order.tags }}<br>
    {% if order.favorites == True %}
    <label for="favs">Marked as favorite!</label>
    {% else %}
    <label for="favs">Not Marked as favorite!</label>
    {% endif %}
</div>
<div>
    <button onclick="location.href='{% url "delete-order" order.id %}'"  class="btn btn-danger btn-lg active"  role="button" type='submit' aria-pressed="true">Delete</a>
    <button onclick="location.href='{% url "edit-order" order.id %}'"  class="btn btn-info btn-lg active"  role="button" type='submit' aria-pressed="true">Edit</a>
</div>

{% endblock content %}