<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <p>
<h2> Title -- {{ order.name }}</h2>
Description -- {{order.description}}
<br>
Price -- {{order.price}}
<br> quantity-- {{ order.quantity }}<br>
date updated -- {{ order.date_updated }}<br>
tags -- {{ order.tags }}<br>
{% if order.favorites == True %}
<label for="favs">Marked as favorite!</label>
{% else %}
<label for="favs">Not Marked as favorite!</label>
{% endif %}
    </p>
<p><a href="{% url 'delete-order' order.id %}">Delete This Order</a></p>

<br>
<br>
<a href="{% url 'edit-post' order.id %}" type="button">Edit this order</a>

</body>
</html>