{% extends './base.html' %}
{% block content %}
    {% for order in Orders %}
    <div class="list-group">
        <a href="{% url "detail" order.id %}" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ order.name }}</h5>
            <small>{{ order.date_updated }}</small>
          </div>
          <p class="mb-1">{{ order.description }}</p>
          <small> Tag -> {{ order.tags }}</small>
        </a>
      </div>
    <br>
    </div>
    {% endfor %}
<button onclick="location.href='{% url "add-order" %}'"  class="btn btn-outline-success"  role="button" type='submit' aria-pressed="true">Add order</a>
<button onclick="location.href='{% url "logout" %}'"  class="btn btn-outline-dark"  role="button" type='submit' aria-pressed="true">Logout</a>

{% endblock content %}
