<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders_List</title>
</head>
<body>
<!-- hardcoded tags -->
<a href="{% url 'tags' 'electronics'%}"> electronics</a> 
<a href="{% url 'tags' 'furniture' %}"> furniture</a> 
<a href="{% url 'tags' 'stationary' %}"> stationary</a> 
<a href="{% url 'tags' 'food' %}"> food </a> 
<a href="{% url 'tags' 'beverages' %}"> beverages </a> 
<a href="{% url 'tags' 'other' %}"> other</a> 

    {% for order in Orders %}
    <p>
        <h4>Name -- {{ order.name }}</h4>
        {{ order.tags }}
        <br>
        <a href = '{% url "detail" order.id %}'>Click here for the order</a>
        {% endfor %}
    </p>
</body>

<a href="{% url 'add-order' %}">Add Order</a>
<br>
<br>

<p>

</p>

<a href="{% url 'favorites' %}">Favorites</a>
<br>
<br>
<a href="{% url 'logout' %}" type="button">Logout</a>

<p>
    {{ param }}
</p>

</html>
